/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');

/* Font Family = Noah. See details, incl Open Type features, here: https://www.fontfabric.com/fonts/noah/#Opentype-Features */

@font-face {
    font-family: 'Noah';
	font-style: bold;
	font-display: swap;
    font-weight: 700;
    src: 
         url('/fonts/Noah-Bold.woff2') format('woff2'),
         url('/fonts/Noah-Bold.woff') format('woff'),
         url('/fonts/Noah-Bold.ttf') format('truetype'),
         url('/fonts/Noah-Bold.eot') format('embedded-opentype');
  }
  
  @font-face {
    font-family: 'Noah';
	font-style: normal;
	font-display: swap;
    font-weight: 400;
    src: 
         url('/fonts/Noah-Regular.woff2') format('woff2'),
         url('/fonts/Noah-Regular.woff') format('woff'),
         url('/fonts/Noah-Regular.ttf') format('truetype'),
         url('/fonts/Noah-Regular.eot') format('embedded-opentype');
  }
  @font-face {
    font-family: 'Noah';
    font-style: italic;
	font-weight: 400;
	font-display: swap;
    src:
         url('/fonts/Noah-RegularItalic.woff2') format('woff2'),
         url('/fonts/Noah-RegularItalic.woff') format('woff'),
         url('/fonts/Noah-RegularItalic.ttf') format('truetype'),
         url('/fonts/Noah-RegularItalic.eot') format('embedded-opentype');
  }


body {
	font-size: 16px;
	font-family: 'Noah', 'Gill Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    -webkit-font-feature-settings: "onum" 1, "pnum" 1, "kern" 1, "liga" 1;
            font-feature-settings: "onum" 1, "pnum" 1, "kern" 1, "liga" 1;
    -webkit-font-kerning: normal;
            font-kerning: normal;
    -webkit-font-smoothing: antialiased; /* Chrome, Safari */
    -moz-osx-font-smoothing: grayscale; /* Firefox */
    text-rendering: geometricPrecision;
    letter-spacing: 0.015rem;
    word-spacing: 0.001rem;
	color: black;
}

body > * {
	/*width: 100vw;*/
	overflow-x: hidden;
}

@media screen and (min-width: 750px) {
	body {
		font-size: 18px;
	}
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Noah', 'Gill Sans', sans-serif;
    font-style: bold;
    font-weight: 700;
 }

a {
	text-decoration: none;
	/*color: inherit;*/
}

 .button, button, input[type="submit"], input[type="reset"], input[type="button"] {
	border: 1px solid #1EAEDB;
	background-color: #1EAEDB;
	-webkit-transition: all .35s ease-in-out;
	-o-transition: all .35s ease-in-out;
	transition: all .35s ease-in-out;
 }

button#submit a {
	color: white;
}

 .button:hover, button:hover, input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover, .button:focus, button:focus, input[type="submit"]:focus, input[type="reset"]:focus, input[type="button"]:focus {
	background-color: #000000;
	border: 1px solid #1EAEDB;
 }

/*redirect to playfolio*/
.redirect {
	display: none;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 700;
	background-color: #FFF;
	color: #000;
	padding: 1rem;
	text-align: left;
	-webkit-box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, .2);
	        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, .2);
}
footer .redirect {
	display: block;
	color: #FFF;
	font-weight: 300;
	padding-bottom: 1em;
	background-color: inherit;
	text-align: center;
}
.redirect--playfolio-text {
	font-family: 'Permanent Marker', cursive;
}

@media screen and (min-width: 750px) {
	.redirect {
		display: block;
	}
}

/*section class="hero" */

.hero {
	position: relative;
}
.hero::before {
	content: "";
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	position: absolute;
	background:no-repeat top center fixed url("../img/background.jpg");
	background-size: cover;
	-webkit-animation: fade-in 2s cubic-bezier(.47,.48,0,1);
	        animation: fade-in 2s cubic-bezier(.47,.48,0,1);
}

.hero__text {
	padding-top: 35vh;
	/* font-family: 'Permanent Marker', cursive; */
	font-size: 1.5em;
	line-height: 1;
}
.hero__text--dontfit {
	font-size: 1.25em;
	line-height: 1.25em;
	white-space: nowrap;
}

#hero__text--crafted {
	font-size: 3em;
	font-weight: 900;
	line-height: 1.0;
	padding-bottom: 1em;
}

/*section class="intro" */

.intro {
	background-color: inherit;
	padding-top: 2em;
}

div.logo {
	display: block;
	margin: 1em auto 0;
	width: 75%;
	opacity: 0;
	-webkit-animation: fade-slide-down 1.75s .5s ease-in-out forwards;
	        animation: fade-slide-down 1.75s .5s ease-in-out forwards;
}

svg.logo {
	overflow: overlay;
}

.hand, .nails {
	-webkit-animation: wave .5s 1.25s ease-in-out 2 both;
	        animation: wave .5s 1.25s ease-in-out 2 both;
}

@-webkit-keyframes wave {
	0%{
		-webkit-transform-origin: left;
		        transform-origin: left;
		-webkit-transform: rotate(10deg);
		        transform: rotate(10deg);
	}
	50% {
		-webkit-transform-origin: left;
		        transform-origin: left;
		-webkit-transform: rotate(-10deg);
		        transform: rotate(-10deg);
	}
	100% {
		-webkit-transform-origin: left;
		        transform-origin: left;
		-webkit-transform: rotate(10deg);
		        transform: rotate(10deg);
	}

}

@keyframes wave {
	0%{
		-webkit-transform-origin: left;
		        transform-origin: left;
		-webkit-transform: rotate(10deg);
		        transform: rotate(10deg);

	}
	50% {
		-webkit-transform-origin: left;
		        transform-origin: left;
		-webkit-transform: rotate(-10deg);
		        transform: rotate(-10deg);
	}
	100% {
		-webkit-transform-origin: left;
		        transform-origin: left;
		-webkit-transform: rotate(10deg);
		        transform: rotate(10deg);
	}

}
@-webkit-keyframes fade-slide-down {
	0% {
	  opacity: 0;
	  -webkit-transform: translateY(-4rem);
			  transform: translateY(-4rem);
	}
	100% {
	  opacity: 1;
	  -webkit-transform: none;
			  transform: none;
	}
  }
@keyframes fade-slide-down {
	0% {
	  opacity: 0;
	  -webkit-transform: translateY(-4rem);
			  transform: translateY(-4rem);
	}
	100% {
	  opacity: 1;
	  -webkit-transform: none;
			  transform: none;
	}
  }

  @-webkit-keyframes fade-in {
	  from {
		  opacity: 0;
	  }
	  to {
		  opacity: 1;
	  }
  }

  @keyframes fade-in {
	  from {
		  opacity: 0;
	  }
	  to {
		  opacity: 1;
	  }
  }

.nails {
	fill: #1EAEDB;
}

.intro__subtitle {
	text-align: center;
	font-family: 'Permanent Marker', cursive;
	font-weight: 900;
	text-transform: none;
	margin-top: 2rem;
}
@media screen and (min-width: 750px) {
	header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-flow: row wrap;
	        flex-flow: row wrap;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	}

	.intro__subtitle {
		font-size: 2.5em;
	}
}
/*section class="services"*/
.service-list {
	list-style: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-flow: row wrap;
	        flex-flow: row wrap;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.service-list li::before {
	content: ' - ';
	width: 100px;
	min-height: 30px;
	background-color: #f1f1f1;
	opacity: 50%;
	background-image: url("https://www.transparenttextures.com/patterns/diagmonds-light.png");
	background-repeat: repeat;
    background-size: contain;
    position: absolute;
    top: -20px;
    -webkit-box-shadow: 1px 0px 0 0 #7b7b7b;
            box-shadow: 1px 0px 0 0 #7b7b7b;
	color: #ffffff0d;
	z-index: 999;
	display: block;
	-webkit-transform: translate(50%, 0px) rotate(2deg);
	    -ms-transform: translate(50%, 0px) rotate(2deg);
	        transform: translate(50%, 0px) rotate(2deg);
}

.service-list li {
	font-family: 'Permanent Marker', cursive;
	position: relative;
	font-size: 20px;
	padding: 0.7em;
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 33%;
	        flex: 1 1 33%;
	text-transform: capitalize;
    background: repeat #c4bdb0 url("/img/natural-paper.png");
	margin: 1em;
	-webkit-box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.68);
	        box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.68);
}
/* 
.service-list li:hover {
	box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.68);
} */

@media screen and (min-width: 949px) {
	.service-list li {
		-webkit-box-flex: 0;
		    -ms-flex: 0 1 25%;
		        flex: 0 1 25%;
	}
}

@media screen and (min-width: 471px) and (max-width: 949px) {
	.service-list li {
		-webkit-box-flex: 0;
		    -ms-flex: 0 1 33%;
		        flex: 0 1 33%;
	}
}

/*section class showcase */

.portfolio-items {
	padding: 1.5rem 1rem;
	min-height: 350px;
}

.portfolio-items h5 >a {
	color: black;
	font-weight: 800;
}

.work-screenshot {
	max-width: 100%;
	-webkit-box-shadow: 6px 6px 15px #666;
	        box-shadow: 6px 6px 15px #666;
}

/*education*/
.education {
	display: none;
}

/*footer */
footer {
	background-color: black;
	color: white;
	text-align: center;
	padding-top: 1.5em;
}

ul#socialmedia {
	list-style: none;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	margin: 0 auto;
}

#socialmedia > li {
	margin: 0 auto;
	padding: 0 1rem;
	font-size: 2em;
}

@media screen and (min-width:780px) {
	#socialmedia > li {
		padding: 0 2rem;
	}
}

#socialmedia a .icon {
	fill: white;
	width: 30px;
}

#credit {
	color: #999;
	font-size: .8em;
}

.heart {
	width: 12px;

}